<head>
  <meta http-equiv="refresh" content="0;url=http://laughton.com/basic/programs" />
</head>
<body>
  <p>User programs are here: <a href="http://laughton.com/basic/programs">http://laughton.com/basic/programs</a></p>
</body>