<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Mar 03 2014 13:29:03 GMT+0000 (UTC) -->
<html data-wf-site="5312e44aa72b608119000060">
<head>
  <meta charset="utf-8">
  <title>mougino - 404</title>
  <meta name="description" content="mougino's android app, windows freeware and rfo-basic! pc suite">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="http://mougino.free.fr/404/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="http://mougino.free.fr/404/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="http://mougino.free.fr/404/css/mougino.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Droid Serif:400,700","Exo:100,200,300,400,500,600,700,800,900","Bitter:400,700","Open Sans:300,400,600,700,800","Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/5312e44aa72b608119000060/5312e8bb501ffd3920000045_QnHyjetTF36f3kANkRmbSSrwVyp2pDQ2_234.png">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/5312e44aa72b608119000060/5312e8b3a72b60811900008c_2697547.png">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36666516-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- phpmyvisites -->
  <a href="http://st.free.fr/" title="phpMyVisites | Open source web analytics" onclick="window.open(this.href);return(false);">
    <script type="text/javascript">
      <!--
      var a_vars = Array();
      var pagename='';
      var phpmyvisitesSite = 247455;
      var phpmyvisitesURL = "http://st.free.fr/phpmyvisites.php";
      //-->
    </script>
    <script language="javascript" src="http://st.free.fr/phpmyvisites.js" type="text/javascript"></script>
    <object>
      <noscript>
        <p>phpMyVisites | Open source web analytics
          <img src="http://st.free.fr/phpmyvisites.php" alt="Statistics" style="border:0" />
        </p>
      </noscript>
    </object>
  </a>
  <!-- /phpmyvisites -->
</head>
<body>
  <div class="w-row">
    <div class="w-col w-col-1">
      <img class="logo" src="http://mougino.free.fr/404/images/QnHyjetTF36f3kANkRmbSSrwVyp2pDQ2_234.png" alt="5312e8bb501ffd3920000045_QnHyjetTF36f3kANkRmbSSrwVyp2pDQ2_234.png">
    </div>
    <div class="w-col w-col-11">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h1>Oops! Error 404...</h1>
          <h4>Were you looking for...</h4>
        </div>
        <div class="w-col w-col-6">
          <a class="w-inline-block" href="http://mougino.free.fr">
            <img src="http://mougino.free.fr/404/images/back.png" width="142" alt="5314825968df093d4000035b_back.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-row">
    <div class="w-col w-col-4 w-clearfix content-column">
      <div class="content-block">
        <h5>RFO-BASIC! PC&nbsp;Suite</h5>
        <a href="http://mougino.free.fr/rfo-basic">
          <img src="http://mougino.free.fr/404/images/De%20Re%20cover.png" alt="5312e566501ffd3920000041_De%20Re%20cover.png">
        </a>
        <p>Make great apps for your Android phone or tablet with a powerful set of tools</p>
        <a href="http://mougino.free.fr/rfo-basic">
          <img src="http://mougino.free.fr/404/images/rfobar.png" alt="53147b38b14cd137380003ff_rfobar.png">
        </a>
      </div><a class="button" href="http://mougino.free.fr/rfo-basic">Go!</a>
    </div>
    <div class="w-col w-col-4 w-clearfix content-column">
      <div class="content-block">
        <h5>Windows freeware</h5>
        <a href="http://mougino.free.fr/freeware">
          <img src="http://mougino.free.fr/404/images/utils.png" alt="5312f17791b9b9821900005e_utils.png">
        </a>
        <p>Utilities to build a website, password-protect your web pages, command line calculator, digital clock &amp; chronometer widgets,&nbsp;CSS-extractor, TV&nbsp;show downloader, Lands of Lore trainer...</p>
      </div><a class="button" href="http://mougino.free.fr/freeware">Go!</a>
    </div>
    <div class="w-col w-col-4 w-clearfix content-column">
      <div class="content-block">
        <h5>Android apps</h5>
        <a href="https://play.google.com/store/search?q=mougino">
          <img src="http://mougino.free.fr/404/images/store.png" alt="5312ee0aa72b60811900009c_store.png">
        </a>
        <p>Free RPG Dragon Hunt, Encdroid slideshow, BASIC! Launcher WiFi.
          <br>
          <br>More to come soon...</p>
      </div><a class="button" href="https://play.google.com/store/search?q=mougino">Go!</a>
    </div>
  </div>
  <div class="content-block"></div>
  <div class="footer-section">
    <div class="italic-text footer">Web site content – not limited to graphics, source code, tutorials – and all freeware hosted on mougino.free.fr are copyright Nicolas Mougin 2014. All rights reserved.</div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://mougino.free.fr/404/js/webflow.js"></script>
</body>
</html>